{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block content %}
    <div class="ui hidden divider"></div>
    <div class="ui two column centered stackable grid">
        <div class="column">
            <div class="ui segment">
                <h1 class="ui header">
                    <div class="content">
                        {{ 'mango_contact_form_plugin.title.contact'|trans }}
                    </div>
                </h1>
                {{ form_start(form, {'attr': {'class': 'ui large loadable form', 'id' : 'contact_form'}}) }}
                {{ form_errors(form) }}
                {{ form_row(form.customerName) }}
                {{ form_row(form.email) }}
                {{ form_row(form.phone) }}
                {{ form_row(form.message) }}
                <br>
                {% if key is null %}
                    <button type="submit"
                            class="ui fluid large primary submit button">{{ 'sylius.ui.send'|trans }}</button>
                {% else %}
                    <button class="g-recaptcha ui fluid large primary submit button" data-sitekey="{{ key }}"
                            data-callback="onSubmit">{{ 'sylius.ui.send'|trans }}</button>
                {% endif %}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ include('@MangoSyliusContactFormPlugin/Shop/_recaptcha.html.twig') }}
{% endblock %}